.lang_en .wrapper_contact_list>.contact_list a.en_nodisp {
    display: none;
}
.lang_en .contact_lists > .content.en_nodisp {
    display: none;
}
.contents_header_contact br {
  display: none;
}
.affiliations_en {
  margin-bottom: 15px;
}
/* PC */
@media screen and (min-width: 980px) {

  .wrapper_text_main_visual.catch br{
    display: none;
  }

  .wrapper_text_main_visual.catch {
    color: #fff;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
  }
  .wrapper_text_main_visual {
    z-index: 1;
  }
  .wrapper_bg_main_visual {
    width: 100%;
    height: 100%;
    background-image: url("../image/dots.png");
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .ir_top {
    min-width: 980px;
    max-width: 1250px;
    margin: 0 auto;
    padding: 60px 25px;
    background-color: #efeff4;
  }
  .top_section>.head {
    font-size: 26px;
    font-weight: bold;
    line-height: 39px;
    color: #111111;
    margin-bottom: 40px;
    /*text-align: center;*/
  }
  .top_section>.head a {
    font-size: 14px;
    font-weight: 500;
    color: #0f78c8;
    line-height: 24px;
    /*float: right;
    display: inline-block;*/
    padding-right: 18px;
    background-image: url("../image/right_arrow.png");
    background-position: 105% 50%;
    background-size: 24px;
    background-repeat: no-repeat;
    /*margin-top: 2px;*/
    margin: 2px 0 0 30px;
  }

  .ir_top .main_contents{
    width: 100%;
    padding: 0;
    float: none;
  }
  .ir_top .wrapper_library_contents{
  background-color: #efeff4;
  }

  .wrapper_investor_top .xj-mainlist.top {
    padding: 0;
  }
  .xj-mainlist.top > .pdf {
    padding: 24px 0;
    border-color: #ddd;
  }

  .pres_top {
    min-width: 980px;
    max-width: 1250px;
    margin: 0 auto;
    padding: 60px 25px;
    background-color: #efeff4;
    position: static;
  }
  .wrapper_news_list>a {
    border-color: #ddd;
    padding: 24px 0;
  }
  .wrapper_news_list>a>.date{
    width: 164px;
  }

  /* TOPだけ2カラム。buisinessは３カラム 201912*/
  .investor_top .wrapper_card_contents{
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    width: 50%;
  }
  .investor_top .wrapper_card_contents .card_top_contents{
    border: none;
  }

 .investor_top .wrapper_card_contents .card_top_contents > .title{
    font-weight: 500;
    color: #111111;
    line-height: 24px;
    font-size: 22px;
    margin: 10px 0;
  }

  .top_banner {
      position: absolute;
      bottom: 15%;
      width: 100%;
  }
  .top_banner > .top_banner_contents {
      width: 980px;
      margin: 0 auto;
  }
  .top_banner_wrapper {
      width: 385px;
      margin: 0 auto;
      text-align: center;
  }
  .top_banner_wrapper a {
      display: inline-block;
  }
  .top_banner_wrapper img {
      width: 100%;
  }

  .wrapper_apartment_contact {
      padding: 40px 0 0;
  }
  a.apartment_contact {
      color: #0f78c8;
      letter-spacing: normal;
      background-image: url("../image/right_arrow.png");
      background-position: 98% 50%;
      background-size: 24px;
      background-repeat: no-repeat;
      padding-right: 32px;
      width: auto;
      position: relative;
  }
  a.apartment_contact span:before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    background: #0f78c8;
    transition: 0.2s;
  }
    a.apartment_contact:hover span:before{
    width: 98%;
  }

  .wrapper_officers .executive_officer > .officer > .info {
      height: 115px;
  }
  .wrapper_officers .executive_officer > .officer > .info .job {
      font-size: 11px;
      font-weight: 400;
      line-height: 1.3;
      color: #111111;
      margin-bottom: 10px;
  }

  .form_sub_title {
      font-size: 16px;
      font-weight: 500;
      color: #343434;
      line-height: 24px;
      margin-bottom: 10px;
      letter-spacing: normal;
  }
  .sub_input_wrapper {
      padding: 0 0 0 20px;
  }
  .sub_input_wrapper .input_caption {
      font-size: 13rem;
      font-weight: 500;
      color: #343434;
      margin-top: 4px;
      margin-bottom: 15px;
  }


  .contents_header_occupancy_person_contact {
    font-size: 26px;
    font-weight: bold;
    color: #111111;
    line-height: 39px;
    margin-bottom: 70px;
    text-align: center;
    margin-top: 110px;
  }
  .wrapper_occupancy_person_contact_btn {
    text-align: center;
  }
  .wrapper_top_banner_btn {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }
  .btn_banner {
    width: 400px;
    height: 80px;
    border-radius: 10px;
    background-color: #0f78c8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;
    margin: 0 auto;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  .top_banner_height{
    height: 100px;
  }
  .btn_banner:hover{
    opacity: 0.6;
  }
  .top_banner_sub_text {
    font-size: 16px;
    margin-bottom: 10px;
  }

}

/* Tablet & SP */
@media screen and (max-width: 979px) {

  .main_visual {
    height: 48vh;
    margin-top: 0;
    margin-bottom: 30vh;
}
}
  .wrapper_text_main_visual {
    z-index: 1;
  }
  .main_visual > .wrapper_main_image {
    background-position: 60% 80%;
  }
  .wrapper_bg_main_visual {
    width: 100%;
    height: 720px;
    background-image: url(../image/dots.png);
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 0;
}

  .investor_top .wrapper_card_contents .card_top_contents{
    border: none;
  }

  .investor_top .wrapper_card_contents .card_top_contents > .title{
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .wrapper_text_main_visual.catch{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 38px;
  }
  .wrapper_text_main_visual.catch br.sp{
    display: none;
  }
  .wrapper_text_main_visual.catch br.tb{
    display: block;
  }
  .wrapper_investor_top {
    background: #efeff4;
  }
  .investor_top {
    background: #fafafa;
    background-color: #fff;
    padding: 40px 0 20px 0;
  }

  .top_section > .head {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500;
    color: #111111;
    line-height: 28px;
  }
  .top_section>.head a {
    font-size: 14px;
    font-weight: 500;
    color: #0f78c8;
    line-height: 24px;
    float: right;
    display: inline-block;
    padding-right: 18px;
    background-image: url("../image/right_arrow.png");
    background-position: 105% 50%;
    background-size: 24px;
    background-repeat: no-repeat;
    margin-top: 2px;
  }


  .top_section {
    margin: 0 auto;
    padding: 60px 25px;
    background-color: #efeff4;
  }
  .top_section .main_contents {
    width: 100%;
    padding: 0;
    float: none;
  }
  .top_section .xj-mainlist {
    background-color: #efeff4;
    padding-left: 0;
  }

  .top_section .wrapper_news_list {
    background-color: #efeff4;
    padding-left: 0;
  }

  .top_banner {
      position: absolute;
      bottom: 15%;
      width: 100%;
  }
  .top_banner_wrapper {
      width: 60%;
      margin: 0 auto;
      text-align: center;
  }
  .top_banner_wrapper a {
      display: inline-block;
  }
  .top_banner_wrapper img {
      width: 100%;
  }
  .wrapper_apartment_contact {
      padding: 40px 0 0;
  }
  a.apartment_contact {
      color: #0f78c8;
      letter-spacing: normal;
      background-image: url("../image/right_arrow.png");
      background-position: 98% 50%;
      background-size: 24px;
      background-repeat: no-repeat;
      padding-right: 32px;
      width: auto;
  }
  
  .wrapper_officers .executive_officer > .officer > .info {
      height: 115px;
  }
  .wrapper_officers .executive_officer > .officer > .info .job {
      font-size: 11px;
      font-weight: 400;
      line-height: 1.3;
      color: #111111;
      margin-bottom: 10px;
  }

  .form_sub_title {
      font-size: 16px;
      font-weight: 500;
      color: #343434;
      line-height: 24px;
      margin-bottom: 10px;
      letter-spacing: normal;
  }
  .sub_input_wrapper {
      padding: 0 0 0 20px;
  }
  .sub_input_wrapper .input_caption {
      font-size: 13rem;
      font-weight: 500;
      color: #343434;
      margin-top: 4px;
      margin-bottom: 15px;
  }

  .contents_header_occupancy_person_contact {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #111111;
    line-height: 24px;
  }
  .wrapper_occupancy_person_contact_btn {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
  }
  .wrapper_top_banner_btn {
    width: 50%;
    height: 96px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }
  .btn_banner {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: #0f78c8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Noto Sans Japanese';
  }
  .btn_banner:hover{
    opacity: 0.6;
  }
  .top_banner_height{
    height: 96px;
  }
  .top_banner_sub_text {
    font-size: 14px;
    margin-bottom: 10px;
  }

}


@media screen and (min-width:767px) and ( max-width:979px) {

  .slider_top_investors .wrapper_card_contents,
  .slider_top_business .wrapper_card_contents{
    width: 50%;
  }
  .contents_header_occupancy_person_contact{
    padding-left: 10px;
  }
  .wrapper_bg_main_visual {

    height: 43vw;
    
}
  
}



/* SP */
@media screen and (max-width: 768px) {

  .wrapper_text_main_visual.catch br.sp{
    display: block;
  }
  .wrapper_text_main_visual.catch {
    line-height: 1.6;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 35vw;
}
.wrapper_bg_main_visual {
  width: 100%;
  height: 56vw;
  background-image: url(../image/dots.png);
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 0;
}

  .slider_top_investors .slick-track{
    width: 100%!important;
    transform: none !important;
    margin: 0;
  }
  .investor_top .wrapper_card_contents + .wrapper_card_contents {
    margin-top: 80px;
  }
  .slider_top_investors .wrapper_card_contents,
  .slider_top_business .wrapper_card_contents {
    width: 100%;
    padding: 0;
    float: none;
  }
  .investor_top .wrapper_card_contents .card_top_contents > .title {
    font-size: 18px;
    margin: 20px 0 0 20px;
  }

  .xj-mainlist > .pdf > .txt {
    padding-right: 0;
  }
  .xj-mainlist > .pdf {
    padding: 20px 0;
  }
  .xj-mainlist > .pdf .pdf_link {
    display: none;
  }

  .wrapper_news_list>a,
  .wrapper_news_list>div {
      padding: 20px 0;
  }

  .top_banner {
    bottom: 0%;
    top: 60vh;
}
  .top_banner_wrapper {
      width: 90%;
  }

}

@media screen and (max-width:480px) {
  .contents_header_contact br {
    display: block;
  }
  .wrapper_text_main_visual.catch {
    top: 44vw;
  }
  .top_banner {
    bottom: 0%;
    top: 98vw;
}
.main_visual {
  height: 40vh;
  margin-top: 0;
  margin-bottom: 84vw;
}
  .wrapper_occupancy_person_contact_btn {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
  }
  .wrapper_top_banner_btn {
    width: 90%;
    height: 96px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }
  .btn_banner {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: #0f78c8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Noto Sans Japanese';
  }
  .top_banner_height{
    height: 96px;
  }
  .top_banner_sub_text {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width:380px) {
  .wrapper_occupancy_person_contact_btn {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
  }
  .wrapper_top_banner_btn {
    width: 90%;
    height: 96px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }
  .btn_banner {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background-color: #0f78c8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Noto Sans Japanese';
  }
  .top_banner_height{
    height: 96px;
  }
  .top_banner_sub_text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .wrapper_text_main_visual.catch {
    top: 44vw;
    font-size: 34px;
}
.top_banner {
  bottom: 0%;
  top: 90vw;
}
.main_visual {
  height: 33.4vh;
  margin-top: 0;
  margin-bottom: 80vw;
}
.top_banner {
  bottom: 0%;
  top: 99vw;
}
}


